{% extends "index.html" %}
{% block body %}

<div class="container">

    <div class="row justify-content-center">
        <div class="col-auto">
            <h1>Deine Geolocation:</h1><br/>
            Longitude: <span id="longitude"></span><br/>
            Latitude: <span id="latitude"></span><br/>
            Accuracy: <span id="accuracy"></span><br/><br/>
            <h1>Error: <span id="error"></span></h1>
        </div>
    </div>
</div>

<script>
    window.navigator.geolocation.getCurrentPosition(pos => {
        let longitude_div = document.getElementById("longitude");
        let latitude_div = document.getElementById("latitude");
        let accuracy_div = document.getElementById("accuracy");

        longitude_div.innerText = pos.coords.longitude;
        latitude_div.innerText = pos.coords.latitude;
        accuracy_div.innerText = pos.coords.accuracy;
    }, error => {
        let error_div = document.getElementById("error");

        if (error.code === error.PERMISSION_DENIED) {
            error_div.innerText = "Permission denied";
        } else if (error.code === error.POSITION_UNAVAILABLE) {
            error_div.innerText = "Position unavailable";
        } else {
            error_div.innerText = "Other error";
        }
    });


</script>

{% endblock %}