{% extends "index.html" %}
{% block body %}

<div class="container">

    <div class="row mt-4 justify-content-center">
        <div class="col-auto">
            <h1>Kann kein Spiel starten</h1>
        </div>

        <div class="row mt-4 justify-content-center">
            <div class="col-auto">
                <p>Du hast entweder GPS nicht aktiviert, im Browser nicht erlaubt oder bist zu weit vom Beachplatz
                    entfernt.</p>
            </div>
        </div>
        <div class="row mt-4 justify-content-center">
            <div class="col-auto align-self-center">
                <p>Hier geht es zurück um es nochmal zu probieren:</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto align-self-center">
                <form method="POST" action="/player">
                    <button type=submit class="btn btn-primary">Zurück</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}