{% extends "index.html" %}
{% block body %}

{% include 'alert_flash_messages.html' %}

<form method="POST" action="/">
    {{ form.csrf_token }}
    <div class="container">

        <div class="row justify-content-center">

            <div class="col-auto">
                <h1>Login</h1>
            </div>
        </div>

        <div class="row mt-4 justify-content-center">
            <div class="col-auto">
                {{ form.email.label }} {{ form.email(size=20) }}
            </div>
        </div>

        <div class="row mt-4 justify-content-center">
            <div class="col-auto">
                <button type=submit class="btn btn-primary">Einloggen</button>
                {{ form.submit }}
            </div>
        </div>
    </div>
</form>

{% endblock %}