{% extends "index.html" %}
{% block body %}

{% if form %}
<form method="POST" action="/player">
    {{ form.csrf_token }}
    <div class="container">

        <div class="row mt-4 justify-content-center">
            <div class="col-auto">
                <h1>Bitte einen Benutzernamen angeben</h1>
            </div>
        </div>

        <div class="row mt-4 justify-content-center">
            <div class="col-auto">
                {{ form.player_name.label }} {{ form.player_name(size=20) }}
            </div>
        </div>

        <div class="row mt-4 justify-content-center">
            <div class="col-auto">
                <button type=submit class="btn btn-primary">Bestätigen</button>
                {{ form.submit }}
            </div>
        </div>
    </div>
</form>
{% else %}
<div class="container">
    <div class="row mt-4 justify-content-center align-items-center">
        <div class="col-auto">
            <div class="fs-1">
                Spieler: <i>{{ player_name }}</i>
            </div>
        </div>
    </div>

    <div class="row mt-4 justify-content-center align-items-center">
        <div class="col-auto">
            <form method="POST" action="{{ url_for('player.player_site') }}">
                <button type="submit" class="btn btn-secondary">
                    <i class="bi bi-pencil"></i> Spielername ändern
                </button>
            </form>
        </div>
    </div>

    <div class="row mt-4 justify-content-center">
        <div class="col-8">
            <div class="text-center">
                <img class="img-fluid" src="data:image/jpeg;base64,{{ player_qr_code_b64 }}"/>
            </div>
        </div>
    </div>

    <div class="row mt-4 justify-content-center">
        {% if exists_open_game %}
        <div class="col-auto">
            <a href="{{ url_for('game.show_game_with_id', game_id=open_game_id) }}">
                <button type="button" class="btn btn-success">Aktuelles Spiel öffnen</button>
            </a>
        </div>
        {% else %}
        <div class="col-auto">
            <a href="{{ url_for('game.game_site') }}">
                <button type="button" class="btn btn-primary">Spiel starten</button>
            </a>
        </div>
        {% endif %}
        <div class="col-auto">
            <a href="{{ url_for('standings.standings') }}">
                <button class="btn btn-info">Tabelle</button>
            </a>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}